* {
  box-sizing: border-box;
}
body{
margin:0;
padding:0;
overflow-x:hidden;
}
.cql{ /* menu tabl*/
background-color:#333;
width:100vw;
}
.cql td{ /*menu otdelni*/
padding-left:1vw;
padding-right:1vw;
padding-top:1vw;
padding-bottom:1vw;
text-align:center;
text-transform:uppercase;
color:white;
width:12.2vw;
font-size:1.35vw;
}
.cql a{
text-decoration:none;
color:white;
display:block;
}
.men{ /*menu cqlo stikito*/
width:100vw;
position:sticky;
top:0;

}
.hui{
width:80vw;
float:left;
padding:1vw;
}
.logo{
width:100vw;
background-color:white;
}
.pishonka{
 /*(display: block;
 margin-left: auto;
 margin-right: auto;
*/ 
width:100vw; 
}

